.page-body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}
.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  /* margin-top: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images-wrapper [data-hidden="true"] {
  display: none;
}
.images-wrapper [data-hidden="false"] {
  display: "";
}

.buttons-wrapper {
  display: flex;
  width: 400px;
  margin: 10px auto;
  justify-content: space-around;
}

.btn {
  width: 160px;
}

.countdown {
  font-size: 65px;
  color: lightblue;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  margin: 0;
}

.countdown-wrapper {
  position: relative;
  padding-top: 100px;
}
