.page-body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

.tabs,
.tabs-content {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  cursor: pointer;
}

.tabs [data-active="true"] {
  background-color: #937341;
  color: #23201d;
}
.tabs [data-active="false"] {
  background-color: #23201d;
  color: #937341;
}

.tabs-content [data-active="false"] {
  display: none;
}
.tabs-content [data-active="true"] {
  padding: 20px;
  display: "";
}
