.page-body {
  margin: 0;
  font-family: sans-serif;
}

#btn-up {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(20, 185, 215, 0.5);
  border-radius: 4px;
  display: none;
  cursor: pointer;
}

#btn-up::before {
  content: "\25B2";
  color: rgba(130, 150, 160, 0.5);
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

#btn-up:hover::before {
  content: "\25B2";
  color: #4c5458;
}

#btn-up:hover {
  background-color: rgba(17, 143, 165, 0.5);
}

#btn-hide-posts {
  width: 500px;
  background: #e4e4e4;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

#btn-hide-posts:hover {
  background: #c5c5c5;
}

#btn-hide-wrap {
  background: #f2f2f2;
  vertical-align: middle;
  padding-top: 42px;
  padding-bottom: 42px;
}

.navbar {
  display: flex;
  align-items: center;
  background: #313131;
  justify-content: space-between;
}

.img-logo-box {
  display: flex;
  padding: 22px 27px;
}

.link-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.name-logo {
  margin-right: 10px;
  margin-left: 10px;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.item-menu:not(:first-child) {
  margin-left: 35px;
}

.link-menu {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.link-menu:hover {
  color: #14b9d5;
}

.btn-search-wrap {
  display: flex;
  justify-content: center;
  background: #000000;
  width: 70px;
  height: 70px;
}

.btn-search {
  background: #000000;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
}

.header {
  text-align: center;
  background-image: url(../img/header-background.jpeg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding-top: 164px;
  padding-bottom: 74px;
}

.title-header {
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 44px;
}

.buttons-header-wrap {
  display: flex;
  justify-content: center;
}

.button-header {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.bg-btn1 {
  background: #89ca62;
  margin-right: 20px;
  padding: 16px 19px;
}
.bg-btn2 {
  background: #14b9d5;
  padding: 16px 30px;
}

/*------------- Most popular posts-------- */

.posts {
  text-align: center;
  background: #f2f2f2;
  padding-top: 49px;
}

.container-section {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.title-section-posts {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  margin: 0;
  padding-bottom: 52px;
}

.list-posts {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.item-post {
  list-style-type: none;
  margin-bottom: 32px;
}

.item-post:nth-child(3n + 1) {
  order: 1;
}
.item-post:nth-child(3n + 2) {
  order: 2;
}
.item-post:nth-child(3n) {
  order: 3;
}

.link-post {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #353a3d;
  background: #ffffff;
}

.title-post {
  margin-bottom: 22px;
  margin-top: 20px;
}

/* ----------our most popular clients------------ */

.section-clients {
  text-align: center;
  background-image: url(../img/section-background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 106px;
  padding-bottom: 185px;
}

.section-clients-wrap {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, minmax(min-content, auto));
  justify-content: center;
  column-gap: 58px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.title-clients {
  grid-column: 1/5;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.section-clients-line {
  grid-column: 1/5;
  width: 60px;
  height: 3px;
  border: none;
  background: #18b4cf;
  margin-top: 87px;
  margin-bottom: 107px;
}

/* ------------------TOP RATED------------------- */

.title-top-rated {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  padding-top: 49px;
  padding-bottom: 52px;
  margin-top: 0;
  margin-bottom: 0;
}

.list-top-rated {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  /* overflow: hidden; */
}

.img-rated {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------HOT NEWS------------------- */

.bg-post-news {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.title-section-news {
  grid-area: title;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 48px;
  color: #18b4cf;
}

.title-news {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-top: 0;
  margin-bottom: 0;
}

.title-news-2_7 {
  padding-top: 10px;
}

.title-news-3_6 {
  padding-top: 10px;
  padding-right: 24px;
  text-align: right;
}

.text-news {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-right: 24px;
}

.link-post-news-column {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  text-decoration: none;
  align-items: center;
}

.link-post-news-row {
  display: grid;
  grid-template-columns: minmax(min-content, auto);
  grid-template-rows: repeat(2, minmax(min-content, auto));
  text-decoration: none;
}

.post-news1 {
  width: 857px;
  grid-area: news1;
}

.post-news2 {
  grid-area: news2;
  width: 277px;
  justify-self: end;
}

.post-news3 {
  width: 554px;
  grid-area: news3;
}

.post-news4 {
  width: 554px;
  grid-area: news4;
  justify-self: end;
}
.post-news5 {
  width: 554px;
  grid-area: news5;
}

.post-news6 {
  width: 554px;
  grid-area: news6;
  justify-self: end;
}

.post-news7 {
  grid-area: news7;
  width: 277px;
}
.post-news8 {
  width: 857px;
  grid-area: news8;
  justify-self: end;
}

.news-wrap {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, min-content);
  row-gap: 46px;
  /* column-gap: 60px; */
  justify-content: center;
  padding-bottom: 77px;
  grid-template-areas:
    "title title title title"
    "news1 news1 news1 news2"
    "news3 news3 news4 news4"
    "news5 news5 news6 news6"
    "news7 news8 news8 news8";
}

/* ----------footer---------------- */

.footer {
  background: #000000;
}

.footer-wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  align-items: center;
}

.copyright {
  grid-column: 1/2;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 29px;
  padding-bottom: 29px;
}

.link-logo-footer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-self: end;
  align-items: start;
}
