.page-body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 40px;
  position: relative;
}

#currentPrice {
  position: absolute;
  left: 65px;
  top: 15px;
}

#input {
  margin-left: 10px;
  margin-top: 20px;
}

#btnClose {
  box-sizing: content-box;
  color: brown;
  font-size: 18px;
  font-weight: bold;
  vertical-align:text-top;
  height: 15px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.focused {
  border-color: transparent;
  border-radius: 2px;
  outline: 2px solid green;
}

.incorrect {
  border-color: red;
  border-radius: 2px;
  outline-color: red;
}

#errorId {
  margin-top: 0;
  margin-left: 65px;
  color: red;
}

.error{
  display: none;
}