.page-body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}
.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 30px;
  color: grey;
}

.btn {
  width: 150px;
  margin-top: 20px;
}

i[data-hidden="true"] {
  display: none;
}

i[data-hidden="false"] {
  display: "";
}

#error {
  color: red;
  visibility: hidden;
}
